@media screen and (min-width : 601px) {

    /* Desktop Navigation */
    .navigation{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 1px 0 1px rgb(200, 199, 199);
    }
    .nav1.vertical-dates-bar{
        order: 1;
        min-height: 65vh;
        max-height: 65vh;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: scroll;
        margin: 1rem 0;
        visibility: hidden;
        width: fit-content;
    }
    .show-vertical-dates-bar{
        visibility: visible!important;
    }
    .date{
        margin: .4rem;
    }
    
    .icon{
        margin: .4rem 0;
        padding: .2rem;
        cursor: pointer;
    }
   .icon.active-icon{
       width: 100%;
       background-color: rgba(0,0,0,.08)!important;
    }
}